* {
  max-height: 100vh;
  max-width: 100vw;
}
/* register section style */
.email-right-col {
  background: url(/src/images/3727319.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 1rem;
  margin-left: -80px;
  width: 10%;
  height: 40rem;
  object-fit: contain;
}

.add-email-submit-btn {
  background-color: #00b389 !important;
  border-color: #00b389 !important;
  margin-left: 5.5rem;
  border-radius: 10rem !important;
  letter-spacing: 1px;
}

.email-left-card {
  margin: 5rem 12rem;
  padding: 1rem 3rem;
  border: none !important;
  letter-spacing: 1px;
}

.email-left-card .form-control {
  border-radius: 1rem !important;
}

.brand-logo-email-page {
  text-align: center;
  color: #00b389;
  font-weight: bold;
  /* font-family: "Ubuntu", sans-serif; */
}

.email-header {
  margin: 1rem 0 2rem 0;
  color: #00b389;
  font-weight: bold;
}

.emailForm {
  width: 270px !important;
}
