/* @import url("http://fonts.cdnfonts.com/css/made-tommy-outline"); */

@font-face {
  font-family: MADE TOMMY;
  src: url(/src/fonts/made-tommy-regular-personal-use.otf);
}

.navbar-bottom-shadow {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0.8rem;
  box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.3);
}

.dashboard-right-col {
  background: url(/src/images/homeimage.jpg) no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  margin-top: 1rem;
  margin-left: -2rem;
  height: 32rem;
}

.copyButton {
  position: absolute;
  bottom: 0.5;
  left: 15px;
  color: #00b389;
  font-size: 1.5rem;
  border-radius: 10rem;
  margin-top: 1.5rem;
}

.copyButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.show-email {
  background-color: #00b389 !important;
  border-color: #00b389 !important;
  color: #ffff;
  font-size: 1.5rem !important;
  border-radius: 1.6rem !important;
  margin-right: 2rem;
  box-sizing: border-box;
  width: 11rem;
  text-align: center;
  /* letter-spacing: 1px; */
  font-weight: 600;
  font-family: "MADE TOMMY", sans-serif !important;
}
.show-email:hover {
  background-color: #ffff !important;
  color: #00b389;
  border: 2px solid #00b389;
}

.logout-btn {
  background-color: #00b389 !important;
  border-color: #00b389 !important;
  box-sizing: border-box;
  width: 11rem;
  margin-right: 2.5rem;
  font-size: 1.5rem !important;
  border-radius: 1.6rem !important;
  text-align: center;
  /* letter-spacing: 1px; */
  font-weight: 600 !important;
  font-family: "MADE TOMMY", sans-serif !important;
}
.logout-btn:hover {
  background-color: #ffff !important;
  color: #00b389 !important;
  border: 2px solid #00b389;
}
.brand-logo-dashboard {
  display: inline-block;
  color: #00b389 !important;
  font-size: 3rem !important;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: 7.6rem;
  cursor: pointer;
  font-family: "MADE TOMMY", sans-serif !important;
}
.create-update-div {
  margin-top: 7rem;
  margin-bottom: 6rem;
  margin-left: 7.5rem;
}
.create-update-div h2 {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-family: "MADE TOMMY", sans-serif !important;
}
.create-update-div h5 {
  position: relative;
  top: 1.4rem;
  font-family: "MADE TOMMY", sans-serif !important;

  /* letter-spacing: 1px; */
}

.create-room-btn,
.update-btn {
  margin-top: 6.5rem;
  margin-right: 2rem;
  background-color: #00b389 !important;
  font-size: 1.5rem !important;
  height: 3rem;
  border-radius: 1.6rem !important;
  border: 1px solid #00b389;
  font-weight: 600 !important;
  font-family: "MADE TOMMY", sans-serif !important;
}

.create-update-div button {
  border: 1px solid #00b389;
  font-family: "MADE TOMMY", sans-serif !important;
}

.create-update-div button:hover {
  background-color: #00b389;
  border: 1px solid #00b389;
}

.update-btn a {
  text-decoration: none;
  color: #fff;
  font-family: "MADE TOMMY", sans-serif !important;
}
.update-btn a:hover {
  text-decoration: none;
  color: #fff;
}

.footer {
  background-color: #ffff;
  width: 100%;
  height: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer button {
  margin-top: 1rem;
  background-color: #fff;
  border: none;
  font-size: 2rem;
  margin-right: 3rem;
  /* color: #05c598; */
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid #d6d6d6;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
}

.footer a {
  color: #00b389;
}

.footer a:hover {
  color: #00b389;
}

.footer button:hover {
  color: #00b389;
  border: 2px solid #d6d6d6;
  background-color: rgba(0, 0, 0, 0.1);
}

.leave-icon {
  transform: rotateZ(136deg);
  color: red;
}

.bg-video-tag {
  /* background: url(https://picsum.photos/20) no-repeat; */
  width: 100%;
  height: 10rem;
}

.footer div {
  text-align: center;
}

/*    drop down style */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 0.375rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media screen and (max-width: 992px) {
  .brand-logo-dashboard {
    margin-left: 1rem;
  }
  .create-update-div {
    margin-left: 1rem;
  }
  .show-email {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .brand-logo-dashboard {
    margin-left: 1rem;
    font-size: 2rem !important;
  }
  .show-email {
    margin-bottom: 1.5rem;
    font-size: 1rem !important;
    width: 8rem;
  }
  .logout-btn {
    font-size: 1rem !important;
    width: 8rem;
  }
  .create-room-row-1 {
    flex-direction: column-reverse;
  }

  .dashboard-right-col {
    margin-left: 0rem;
    height: 16rem;
  }
  .create-update-div {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  .create-update-div h2 {
    font-size: 1.5rem;
  }
  .create-update-div h5 {
    font-size: 1rem;
  }
  .create-room-btn,
  .update-btn {
    margin-top: 2rem;
    font-size: 1rem !important;
    height: 2.4rem;
    letter-spacing: 1px;
  }
  .bg-video-tag {
    width: 40% !important;
    margin-right: 1rem;
  }
  .copyButton {
    font-size: 1rem !important;
    border-radius: 10rem;
    margin-top: -3rem !important;
  }
  .footer button {
    font-size: 1.5rem !important;
  }
}
