.dashboard-right-col{
    background: url(/src/images/HomeBg.svg) no-repeat;
    background-position: right;
    background-size: contain;
    width: 100%;
    height: 36rem;
    
}

.show-email{
    background-color: #00b389!important;
    border-color: #00b389!important;
    color: #ffff;
    font-size: 1.5rem!important;
    border-radius: 1.6rem!important; 
    margin-right: 2rem;
    box-sizing: border-box;
   width: 11rem;
   text-align: center;
}
.show-email:hover{
    background-color: #ffff!important;
    color: #00b389;
    border: 2px solid #00b389;
}

.logout-btn{
    background-color: #00b389!important;
    border-color: #00b389!important;
   box-sizing: border-box;
   width: 11rem;
    font-size: 1.5rem!important;
    border-radius: 1.6rem!important; 
    text-align: center;
}
.logout-btn:hover{
    background-color: #ffff!important;
    color: #00b389!important;
    border: 2px solid #00b389;
   
}
.brand-logo-dashboard{
    display: inline-block;
    color: #00b389!important;
    font-size: 3rem!important;
    font-weight: bold;
    margin-top: 0rem;
    margin-left: 5rem;
    cursor: pointer;
}
.create-update-div{
    margin:6rem 5.7rem;
}
.create-update-div h2{
    font-size: 2.2rem;
    font-weight: bold;
}
.create-update-div h5{
    position: relative;
    top: 1.4rem;
}

.create-room-btn,.update-btn{
    margin-top: 5rem;
    margin-right: 3rem;
    background-color: #00b389!important;
    font-size: 1.2rem!important;
    font-weight: bolder!important;
    border-radius: 3rem!important;
    padding: .7rem;
    border: 1px solid #00b389;
    letter-spacing: 1px;
}

.create-update-div button{
    padding: .7rem;
    border: 1px solid #00b389;
    letter-spacing: 1px; 
}


.create-update-div button:hover{
    background-color: #00b389;
    border: 1px solid #00b389;
}

.footer{
    background-color: #ffff;
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;  
}

.bg-video-tag{
    background: url(https://picsum.photos/20) no-repeat;
    width: 100%;
    height: 10rem;
}

.footer div{
    text-align: center;
}